#formContainer {
    margin-top: 20px;
}

#signUpContainer {
    margin-top: 50px;
    padding-top: 10px;
    background-color: rgba(52, 58, 64, 0.85);
    border-radius: 5px;
    padding-bottom: 20px;
    color: #17a2b8;
}

#alert {
    margin-top: 20px;
}
#submitButton {
    margin-bottom: 10px;
}