#formContainer {
    margin-top: 20px;
}

#signInContainer {
    margin-top: 50px;
    padding-top: 10px;
    background-color: rgba(52, 58, 64, 0.85);
    border-radius: 5px;
    padding-bottom: 15px;
    color: #17a2b8;
}

#alert {
    margin-top: 10px;
}

#SignUpLink{
    padding-top: 10px;
    margin-left: 25px;
}

button{
    margin-left: 5px;
}
