

.navbar{
  background-color: gray;
}

.navbar_brand{
  font-size: 25px;
  font-style: italic;
}

.chatBox{
  margin-top: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
  border-width: 2px;
  height: 500px;
  overflow-y:auto;
}

.message{
  background-color: gray;
  border-radius: 5px;
  width: 45%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.message-recieved{
  margin-left: 54%;
}

.messageContent{
  margin: 5px;
}

.inputBox{
  margin-top: 10px;
  width: 100%
}